<mat-form-field style="width: 100%;">
    <mat-chip-list #list [class.is-invalid]="aptoNoValido()" aria-label="tag selection">
        <mat-chip *ngFor="let i = index; let tag of tags" [selectable]="true" [removable]="true" (removed)="remove(tag.nombre, i)">
            {{ tag.nombre }}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Toca para añadir una etiqueta al filtro" #input (keyup)="filtrar(input)" [matAutocomplete]="auto" [matChipInputFor]="list">
    </mat-chip-list>
    <small *ngIf="aptoRepetido()" class="form-text text-danger">No puede haber etiquetas repetidas</small>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, input)">
        <mat-option *ngFor="let tag of filteredTags" [value]="tag">
            {{ tag }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>