<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <mat-form-field class="input-group mb-3">
                    <mat-label>Nombre del usuario</mat-label>
                    <input matInput #input type="text" (keyup.enter)="buscarUsuarios(input.value)" autocomplete="off">
                    <button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''; cargarUsuarios()">
                      <mat-icon>close</mat-icon>
                    </button>
                    <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="buscarUsuarios(input.value)">
                      <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <strong> CARGANDO </strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>
<div class="row" *ngIf="!cargando && usuarios.length > 0">
    <div class="col-12">
        <div class="card">
            <div class="card-body" style="overflow-x:auto;">
                <h3 class="card-title">Usuarios registrados (<small>{{ total }}</small>) &nbsp; <button (click)="mostrarModal('','user', '', null)" matTooltip="Añadir usuario" type="button" class="btn btn-info btn-circle"><i class="fa fa-plus"></i> </button></h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Correo</th>
                            <th>Nombre</th>
                            <th>Role</th>
                            <th>Auth</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>
                                <img (click)="mostrarModal(usuario.usuario._id,'upload', usuario.usuario.imagen, usuario.usuario)" [src]="usuario.usuario.imagen | image" class="img-users-small img-circle">
                            </td>
                            <td class="long-td">
                                <input *ngIf="usuario.modificando" [disabled]="usuario.usuario.email === usuariosService.usuario.value.email" class="form-control" type="text" [(ngModel)]="usuario.usuario.nombre">
                                <span *ngIf="!usuario.modificando"> {{ usuario.usuario.nombre }} </span>
                            </td>
                            <td class="medium-td">
                                <input *ngIf="usuario.modificando" [disabled]="usuario.usuario.email === usuariosService.usuario.value.email" class="form-control" type="text" [(ngModel)]="usuario.usuario.email">
                                <span *ngIf="!usuario.modificando"> {{ usuario.usuario.email }} </span>
                            </td>
                            <td class="medium-td">
                                <select [(ngModel)]="usuario.usuario.rol" [disabled]="usuario.usuario.email === usuariosService.usuario.value.email || !usuario.modificando" name="rol" class="form-control">
                                    <option value="ADMIN">Administrador</option>
                                    <option value="USER">Usuario</option>
                                </select>
                            </td>
                            <td>
                                <label *ngIf="usuario.usuario.google" class="label label-danger">Google</label>
                                <label *ngIf="!usuario.usuario.google" class="label label-info">Normal</label>
                            </td>
                            <td class="text-nowrap small-td">
                                <button [disabled]="usuario.usuario.email === usuariosService.usuario.value.email" (click)="usuario.modificando = !usuario.modificando" class="btn btn-primary" matTooltip="Modificar ingrediente"><i class="fa fa-wrench"></i></button>                                &nbsp;
                                <button [disabled]="!usuario.modificando" (click)="actualizarUsuario(usuario.usuario)" class="btn btn-info" matTooltip="Guardar usuario"><i class="fa fa-save"></i></button> &nbsp;
                                <button [disabled]="usuario.usuario.email === usuariosService.usuario.value.email" (click)="borrarUsuario(usuario.usuario)" class="btn btn-danger" matTooltip="Borrar usuario"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button [disabled]="(from - 7) >= total || (from - 7) < 0" (click)="cambiarDesde(-7)" class="btn btn-secondary">Anteriores</button> &nbsp;
                <button [disabled]="(from + 7) >= total || (from + 7) < 0" (click)="cambiarDesde(7)" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>
<div class="row " *ngIf="!cargando && usuarios.length == 0">
    <div class="col-12 ">
        <div class="alert alert-warning text-center ">
            <strong> No se han encontrado resultados </strong>
            <br>
            <i class="fa fa-question-circle"></i>
        </div>
    </div>
</div>
<app-modal-create-user (created)="cargarUsuarios()"></app-modal-create-user>