<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <mat-form-field class="input-group mb-3">
                    <mat-label>{{ 'buscador.buscador' | translate }}</mat-label>
                    <input matInput #input type="text" (keyup.enter)="buscarRecetas(input.value, 0)" (keyup)="filtrar(input)" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="buscarRecetas(input.value, 0)">
                        <mat-option *ngFor="let ing of ingsFiltrados" [value]="ing">
                            {{ ing }}
                        </mat-option>
                    </mat-autocomplete>
                    <button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''">
                          <mat-icon>close</mat-icon>
                        </button>
                    <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="buscarRecetas(input.value, 0)">
                          <mat-icon>search</mat-icon>
                        </button>
                </mat-form-field>
                <app-show-filters [showIntolerancias]=true [showEtiquetas]=false [showTipos]=true [showOrden]=true (filtros)=cambiarFiltros($event)></app-show-filters>
                <app-search-intolerance *ngIf="filtros.intolerancias" (intolerancias)="cargarFiltroIntolerancias($event)"></app-search-intolerance>
                <app-search-type *ngIf="filtros.tipos" (types)="cargarFiltroTipos($event)"></app-search-type>
                <app-search-order *ngIf="filtros.orden" (orden)="cargarFiltroOrden($event)"></app-search-order>
            </div>
        </div>
    </div>
</div>
<app-loading-component [cargando]="cargando"></app-loading-component>
<div class="row" *ngIf="!cargando && ingredientes.length > 0">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <h3>{{ 'buscador.tituloIng' | translate }}</h3>
                    <mat-form-field style="width: 100%;">
                        <mat-chip-list #list aria-label="tag selection">
                            <mat-chip *ngFor="let ing of ingredientes" [selectable]="false" [removable]="false">
                                {{ ing.nombre }}
                            </mat-chip>
                        </mat-chip-list>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="!cargando && buscando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3>{{ 'buscador.tituloRe' | translate }}</h3>
                <div class="row" *ngIf="recetas.length > 0">
                    <app-busqueda-card class="col-sm-6 col-lg-4" (cargar)="cargarRecetas(0)" (recetaSeleccionada)=verReceta($event) [receta]=receta *ngFor="let receta of recetas"></app-busqueda-card>
                </div>
                <app-no-found-component *ngIf="buscando" [cargando]="cargando" [array]="recetas"></app-no-found-component>
            </div>
        </div>
    </div>
</div>
<ngb-pagination class="d-flex justify-content-center" (pageChange)="cambiarPag($event)" [pageSize]="limit" [collectionSize]="total" [(page)]="from" [boundaryLinks]="true"></ngb-pagination>