<app-loading-component [cargando]="cargando">
</app-loading-component>
<div class="row " *ngIf="!cargando">
    <div class="col-12 ">
        <div class="card ">
            <div class="card-body " style="overflow-x:auto; ">
                <h3>Crear dieta para el usuario</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>Altura</th>
                            <th>Peso</th>
                            <th>Información del usuario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span> {{ usuarioReceta.nombre }} </span>
                            </td>
                            <td>
                                <span> {{ usuarioReceta.edad }} </span>
                            </td>
                            <td>
                                <span> {{ usuarioReceta.altura }} </span>
                            </td>
                            <td>
                                <span> {{ usuarioReceta.peso }} </span>
                            </td>
                            <td class="text-nowrap small-td">
                                <button class="btn btn-info" routerLinkActive [routerLink]="['/favorites/' + usuarioReceta._id]">Recetas favoritas</button> &nbsp;
                                <button class="btn btn-info" routerLinkActive [routerLink]="['/myIntolerances/' + usuarioReceta._id]">Intolerancias</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row " *ngIf="!cargando">
    <div class="col-12 ">
        <div class="card ">
            <div class="card-body " style="overflow-x:auto; ">
                <h3>Crear dieta para el usuario</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th *ngFor="let dia of dias">{{ dia }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comida of nombresComidas; let i = index">
                            <td> {{ getTitulo(i) }} </td>
                            <td *ngFor="let dia of dias; let j = index"><button class="btn btn-info" (click)="abrirModal(i, j)"><i class="mdi mdi-plus"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-modal-create-diet (receta)="addReceta($event)"></app-modal-create-diet>