<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>{{ receta?.nombre | uppercase }}</h1>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <img *ngIf="receta?.imagen" [src]='receta?.imagen | image: "receta"' class="img-fluid" alt="receta-imagen">
                        <br><br>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Calorias</h4>
                                <hr>
                                <p>
                                    {{ receta?.calorias?.cantidad }} {{ receta?.calorias?.unidades }}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <h4>Dificultad</h4>
                                <hr>
                                <p>
                                    {{ receta?.nivel | uppercase }}
                                </p>
                            </div>
                        </div>
                        <a href="#/recipes" class="btn btn-outline-info btn-block"> Regresar a recetas</a>
                        <br><br>
                    </div>
                    <div class="col-md-8">
                        <h3>Descripción de la receta</h3>
                        <hr>
                        <p>
                            {{ receta?.descripcion }}
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Ingredientes</h4>
                                <hr>
                                <mat-accordion>
                                    <mat-expansion-panel *ngFor="let ing of receta?.ingredientes; let i = index">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <label *ngIf="ing.tipo == 'Principal'" class="label label-danger">Principal</label>
                                                <label *ngIf="ing.tipo == 'Secundario'" class="label label-info">Secundario</label>
                                            </mat-panel-title>
                                            <mat-panel-description>

                                                <b [ngClass]="color(ing)">{{ ing.nombre }}</b>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col">
                                                <b>Cantidad: </b>
                                            </div>
                                            <div class="col-7">
                                                {{ ing.cantidad }} {{ ing.unidades }}
                                            </div>
                                        </div>
                                        <div *ngIf="(sustituibles.length != 0) && (sustituibles[i] != null)">
                                            <hr>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <label class="label label-warning">Sustituible</label>
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                        <b class="text-warning">{{ sustituibles[i] }}</b>
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <div class="row">
                                                    <div class="col">
                                                        <b>Cantidad: </b>
                                                    </div>
                                                    <div class="col-7">
                                                        {{ ing.cantidad }} {{ ing.unidades }}
                                                    </div>
                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                                <br>
                            </div>
                            <div class="col-md-6">
                                <h4>Pasos a seguir</h4>
                                <hr>
                                <ul class="list-group">
                                    <li class="list-group-item" *ngFor="let paso of receta?.pasos; let i = index">
                                        {{ i + 1 }} - {{ paso }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>