<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" routerLinkActive="active">
                <h1>{{ receta?.nombre | uppercase }}<small class="text text-muted">  {{ receta?.tipoRe }}</small></h1>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <img *ngIf="receta?.imagen" [src]='receta?.imagen | image: "receta"' class="img-responsive" alt="receta-imagen">
                        <br><br>
                        <div class="row" *ngIf="usuarioService.esUser()">
                            <div class="col-md-12">
                                <h4>{{ 'recetas.receta.puntuacion' | translate }} <small>  ( {{ 'recetas.receta.total' | translate }}: {{ puntuacionesTotales }} )</small></h4>
                                <hr>
                                <p>
                                    <ngb-rating class="puntuacion" [(rate)]="puntuacion" [max]="5" [starTemplate]="t" [readonly]="true"></ngb-rating>
                                    <ng-template #t let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                    </ng-template>
                                </p>
                            </div>
                        </div>
                        <div class="row" *ngIf="usuarioService.estaLogueado()">
                            <div class="col-md-6">
                                <h4>{{ 'recetas.receta.calorias' | translate }}</h4>
                                <hr>
                                <p>
                                    {{ receta?.calorias?.cantidad }} {{ receta?.calorias?.unidades }}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <h4>{{ 'recetas.receta.dificultad' | translate }}</h4>
                                <hr>
                                <p>
                                    {{ receta?.nivel | uppercase }}
                                </p>
                            </div>
                        </div>
                        <a (click)="mostrarModal()" class="btn btn-outline-warning btn-block" *ngIf="usuarioService.esUser() && !votado"> Votar</a>
                        <a (click)="retornar()" class="btn btn-outline-info btn-block">{{ 'recetas.receta.botonRe' | translate }}</a>
                        <br><br>
                    </div>
                    <div class="col-md-8">
                        <h3>{{ 'recetas.receta.descripcion' | translate }}</h3>
                        <hr>
                        <p>
                            {{ receta?.descripcion }}
                        </p>
                        <div class="row" *ngIf="usuarioService.estaLogueado()">
                            <div class="col-lg-6 col-md-12">
                                <h4>{{ 'recetas.receta.ingredientes' | translate }}</h4>
                                <hr>
                                <mat-accordion>
                                    <mat-expansion-panel *ngFor="let ing of receta?.ingredientes; let i = index">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <label *ngIf="ing.tipo == 'Principal'" class="label label-danger">{{ 'recetas.receta.principal' | translate }}</label>
                                                <label *ngIf="ing.tipo == 'Sustituible'" class="label label-info">{{ 'recetas.receta.secundario' | translate }}</label>
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                <b [ngClass]="color(ing)">{{ ing.nombre }}</b>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col">
                                                <b>{{ 'recetas.receta.cantidad' | translate }}:</b>
                                            </div>
                                            <div class="col-7">
                                                <span *ngIf="noUnidades(ing)">{{ ing.unidades }}</span>
                                                <span *ngIf="!noUnidades(ing)">{{ ing.cantidad }} {{ checkUnidades(ing.unidades) }} </span>
                                            </div>
                                        </div>
                                        <div *ngIf="(sustituibles.length != 0) && (sustituibles[i] != null)">
                                            <hr>
                                            <div class="row">
                                                <div class="col">
                                                    <label class="label label-warning">{{ 'recetas.receta.sustituible' | translate }}</label>
                                                </div>
                                                <div class="col-7">
                                                    <b class="text-warning">{{ sustituibles[i] }}</b>
                                                </div>
                                            </div>
                                        </div>
                                        <!--
                                        <div *ngIf="etiquetas[i]?.length > 0">
                                            <hr>
                                            <div class="row">
                                                <div class="col">
                                                    <b>{{ 'recetas.receta.etiquetas' | translate }}</b>
                                                </div>
                                                <div class="col-7">
                                                    <mat-chip-list #list aria-label="tag selection">
                                                        <mat-chip *ngFor="let et of etiquetas[i]" [selectable]="false" [removable]="false">
                                                            {{ et }}
                                                        </mat-chip>
                                                    </mat-chip-list>
                                                </div>
                                            </div>
                                        </div>
                                        -->
                                    </mat-expansion-panel>
                                </mat-accordion>
                                <br>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <h4>{{ 'recetas.receta.pasos' | translate }}</h4>
                                <hr>
                                <ul class="list-group">
                                    <li class="list-group-item" *ngFor="let paso of receta?.pasos; let i = index">
                                        {{ i + 1 }} - {{ paso }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row animated fadeIn" *ngIf="!usuarioService.estaLogueado()">
                            <div class="col-12">
                                <div class="alert alert-warning text-center">
                                    <strong>{{ 'recetas.receta.noSesionTitulo' | translate }}</strong>
                                    <br>
                                    <i class="fa fa-exclamation-circle"></i>
                                    <br>
                                    <span>{{ 'recetas.receta.noSesionTexto' | translate }}</span>
                                    <br>
                                    <button class="btn btn-warning" (click)="llevarAInicio()">{{ 'recetas.receta.noSesionBoton' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-vote [votacion]="votacion"></app-modal-vote>