<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3>Recetas favoritas del usuario: <small>{{ user }}</small></h3>
                <app-loading-component [cargando]="cargando"></app-loading-component>
                <app-no-found-component [cargando]="cargando" [array]="recetas"></app-no-found-component>
                <div class="row" *ngIf="!cargando && recetas.length > 0">
                    <app-favorite-card class="col-sm-6 col-lg-4" (cargar)="cargarRecetas(0)" (recetaSeleccionada)=verReceta($event) [receta]=receta *ngFor="let receta of recetas"></app-favorite-card>
                </div>
            </div>
        </div>
    </div>
</div>
<ngb-pagination class="d-flex justify-content-center" (pageChange)="cambiarPag($event)" [pageSize]="tam" [collectionSize]="total" [(page)]="from" [boundaryLinks]="true"></ngb-pagination>