<div class="fondo-negro animated fadeIn" [ngClass]='modalService.oculto'>
    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'modales.feedback.titulo' | translate }}</h5>
                    <button (click)="cerrarModal(form)" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form #form="ngForm" (ngSubmit)="enviarFeedback(form)">
                    <div class="modal-body">
                        <table *ngIf="hayComentarios()" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{{ 'comun.tabla.receta' | translate }}</th>
                                    <th>{{ 'comun.tabla.comentario' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let receta of dieta?.dieta">
                                    <td *ngIf="receta?.nombre">
                                        {{ receta?.nombre }}
                                    </td>
                                    <td *ngIf="receta?.nombre">
                                        {{ receta?.comentario }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <div class="form-group">
                            <label for="comentario">{{ 'modales.feedback.enviar' | translate }}</label>
                            <input class="form-control" type="text" ngModel #comentario="ngModel" name="comentario" [class.is-valid]="comentario.valid && comentario.touched" [class.is-invalid]="comentario.invalid && comentario.touched" autocomplete="off" [placeholder]="'modales.feedback.texto' | translate"
                                required minlength="3">
                            <small *ngIf="comentario.invalid && comentario.touched" class="form-text text-danger">{{ 'modales.feedback.error' | translate }}</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">{{ 'modales.botones.enviar' | translate }}</button>
                        <button (click)="cerrarModal(form)" type="button" class="btn btn-secondary">{{ 'modales.botones.cerrar' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>