<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>{{ intolerancia?.nombre | uppercase }}</h1>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <img [src]="intolerancia?.imagen | image: 'intolerancia'" class="img-intolerance">
                        <br><br>
                        <a [routerLink]="['/intolerances']" class="btn btn-outline-info btn-block"> Regresar a intolerancias</a>
                    </div>
                    <div class="col-md-8">
                        <h3>Descripción</h3>
                        <hr>
                        <p>
                            {{ intolerancia?.descripcion }}
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Etiquetas</h4>
                                <hr>
                                <mat-chip-list #list aria-label="tag selection">
                                    <mat-chip *ngFor="let et of intolerancia?.noApto" [selectable]="false" [removable]="false" (click)="buscarEtiqueta(et)">
                                        {{ et }}
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>