<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header" routerLinkActive="active">
            <a class="navbar-brand" [routerLink]="['/home']">
                <b>
                    <i class="mdi mdi-pine-tree"></i>
                </b>
                <span>
                    <b class="logo-title">TFG</b>
                </span> </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" [routerLink]="['/search']"><i class="ti-search"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i [class]="langService.toggleFlag()"></i></a>
                    <div class="dropdown-menu dropdown-menu-right animated bounceInDown">
                        <a class="dropdown-item" (click)="langService.toogleLanguage('es')"><i class="flag-icon flag-icon-es"></i> {{ 'header.idiomaEsp' | translate }} </a>
                        <a class="dropdown-item" (click)="langService.toogleLanguage('en')"><i class="flag-icon flag-icon-gb"></i> {{ 'header.idiomaIng' | translate }} </a>
                    </div>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="!userService.estaLogueado()">
                    <a class="nav-link waves-effect waves-dark" [routerLink]="['/login']"><b> {{ 'header.sesion' | translate }} </b></a>
                </li>
                <li class="nav-item dropdown" *ngIf="userService.estaLogueado()">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img [src]="usuario.imagen | image" alt="user" class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeInDownBig">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img [src]="usuario.imagen | image" alt="user"></div>
                                    <div class="u-text">
                                        <h4>{{ usuario.nombre }}</h4>
                                        <p class="text-muted">{{ usuario.email }}</p>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a [routerLink]="['/user', usuario._id]"><i class="ti-user"></i> {{ 'header.perfil' | translate }} </a></li>
                            <li *ngIf="userService.esUser()"><a [routerLink]="['/favorites/' + usuario._id]"><i class="ti-receipt"></i> {{ 'header.recetas' | translate }} </a></li>
                            <li *ngIf="userService.esUser()"><a [routerLink]="['/myIntolerances/'  + usuario._id]"><i class="ti-receipt"></i> {{ 'header.intolerancias' | translate }} </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a (click)="userService.logout('login')" class="pointer"><i class="fa fa-power-off"></i> {{ 'header.cerrar' | translate }} </a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>