<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header" routerLinkActive="active">
            <a class="navbar-brand" [routerLink]="['/home']">
                <b>
                    <i class="mdi mdi-pine-tree"></i>
                </b>
                <span>
                    <b class="logo-title">TFG</b>
                </span> </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-es"></i></a>
                    <div class="dropdown-menu dropdown-menu-right animated bounceInDown">
                        <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-es"></i> Español</a>
                        <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-gb"></i> Inglés</a>
                    </div>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="!userService.estaLogueado()">
                    <a class="nav-link waves-effect waves-dark" [routerLink]="['/login']"><b>Login</b></a>
                </li>
                <li class="nav-item dropdown" *ngIf="userService.estaLogueado()">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img [src]="usuario.imagen | image" alt="user" class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeInDownBig">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img [src]="usuario.imagen | image" alt="user"></div>
                                    <div class="u-text">
                                        <h4>{{ usuario.nombre }}</h4>
                                        <p class="text-muted">{{ usuario.email }}</p>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a [routerLink]="['/user', usuario._id]"><i class="ti-user"></i> Ver perfil</a></li>
                            <li><a [routerLink]="['/recipes']"><i class="ti-receipt"></i> Recetas favoritas</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a (click)="userService.logout('login')" class="pointer"><i class="fa fa-power-off"></i> Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>