<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- Logo -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <b>
                    <i class="mdi mdi-pine-tree"></i>
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span>
                    <b class="logo-title">TFG</b>
                </span> </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>
            <ul class="navbar-nav my-lg-0">
                <!-- Search -->
                <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                </li>

                <!-- Language -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-es"></i></a>
                    <div class="dropdown-menu dropdown-menu-right animated bounceInDown">
                        <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-es"></i> Español</a>
                        <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-gb"></i> Inglés</a>
                    </div>
                </li>
                <!-- Profile -->
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-dark" href="/login"><b>Login</b></a>
                </li>
            </ul>
        </div>
    </nav>
</header>