<app-loading-component [cargando]="cargando">
</app-loading-component>
<div class="row " *ngIf="!cargando && !hasNull(recetas)">
    <div class="col-12 ">
        <div class="card ">
            <div class="card-body " style="overflow-x:auto; ">
                <h3>{{ 'dietas.seguimiento.titulo' | translate }}<small>{{ obtenerFechaCompleta() }} </small></h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th *ngFor="let dia of data.nombresComidas">
                                <label [class]="data.label(dia)">{{ dia | translate }}</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ data.dias[diaActual] | translate }} {{ obtenerFecha() }}
                            </td>
                            <td *ngFor="let receta of recetas; let i = index">
                                <img [src]='this.recetas[i].imagen | image: "receta"' class="img-rounded img-fluid pointer border border-primary" [matMenuTriggerFor]="appMenu" style="max-width:100%; max-height:100%;">
                                <mat-menu #appMenu="matMenu">
                                    <button (click)="verReceta(i)" mat-menu-item>
                                            <mat-icon>local_dining</mat-icon>
                                            <span>{{ 'dietas.seguimiento.ver' | translate }}</span>
                                        </button>
                                    <button (click)="enviarComentario(i)" mat-menu-item>
                                            <mat-icon>comment</mat-icon>
                                            <span>{{ 'dietas.seguimiento.comentar' | translate }}</span>
                                        </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h2>{{ 'dietas.seguimiento.total' | translate }}<span *ngIf="recetas" class="text text-info"> {{ calcularCalorias() }} kilocalorias</span></h2>
            </div>
        </div>
    </div>
</div>
<div class="row " *ngIf="!cargando && hasNull(recetas)">
    <div class="col-12">
        <div class="alert alert-danger text-center">
            <strong>{{ 'dietas.incompletoTitulo' | translate }}</strong>
            <br>
            <i class="fa fa-exclamation-circle fa-2x"></i>
            <br>
            <p>
                <span>{{ 'dietas.incompleto1' | translate }}</span> <br>
                <span>{{ 'dietas.incompleto2' | translate }}</span>
            </p>
        </div>
    </div>
</div>
<div class="row " *ngIf="!cargando && dieta.feedback">
    <div class="col-12 ">
        <div class="card ">
            <div class="card-body " style="overflow-x:auto; ">
                <h2>{{ 'dietas.seguimiento.admin' | translate }}</h2>
                <p>{{ dieta.feedback }}</p>
                <button (click)="borrarFeedback()" class="btn btn-danger">{{ 'dietas.seguimiento.borrar' | translate }}</button>
            </div>
        </div>
    </div>
</div>
<app-modal-comment-diet></app-modal-comment-diet>