<mat-tab-group>
    <mat-tab [label]="'dietas.gestion.dietas' | translate">
        <app-loading-component [cargando]="cargando">
        </app-loading-component>
        <app-no-found-component [cargando]="cargando" [array]="sinAsignar"></app-no-found-component>
        <div class="row " *ngIf="!cargando && sinAsignar.length > 0">
            <div class="col-12 ">
                <div class="card ">
                    <div class="card-body " style="overflow-x:auto; ">
                        <h3 class="card-title ">{{ 'dietas.gestion.dietas' | translate }}</h3>
                        <table class="table table-hover incidencias">
                            <thead>
                                <tr>
                                    <th>{{ 'comun.tabla.id' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let int of sinAsignar; let i = index">
                                    <td (click)="mostrarDieta(int)">
                                        <span> {{ int._id }} </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button [disabled]="(from - limit) >= totalA || (from - limit) < 0" (click)="cambiarDesde(-limit)" class="btn btn-secondary">{{ 'comun.botones.anterior' | translate }}</button> &nbsp;
                        <button [disabled]="(from + limit) >= totalA || (from + limit) < 0" (click)="cambiarDesde(limit)" class="btn btn-secondary">{{ 'comun.botones.siguiente' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab [label]="'dietas.gestion.comentarios' | translate">
        <app-loading-component [cargando]="cargando">
        </app-loading-component>
        <app-no-found-component [cargando]="cargando" [array]="comentarios"></app-no-found-component>
        <div class="row " *ngIf="!cargando && comentarios.length > 0">
            <div class="col-12 ">
                <div class="card ">
                    <div class="card-body " style="overflow-x:auto; ">
                        <h3 class="card-title ">{{ 'dietas.gestion.dietas' | translate }}</h3>
                        <table class="table table-hover incidencias">
                            <thead>
                                <tr>
                                    <th>{{ 'comun.tabla.id' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of comentarios; let i = index">
                                    <td (click)="mostrarFeedBack(c)">
                                        <span> {{ c._id }} </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button [disabled]="(from - limit) >= totalC || (from - limit) < 0" (click)="cambiarDesde(-limit)" class="btn btn-secondary">{{ 'comun.botones.anterior' | translate }}</button> &nbsp;
                        <button [disabled]="(from + limit) >= totalC || (from + limit) < 0" (click)="cambiarDesde(limit)" class="btn btn-secondary">{{ 'comun.botones.siguiente' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
<app-modal-feedback [dieta]=coment (created)="cargarDietas()"></app-modal-feedback>