<div class="fondo-negro animated fadeIn" [ngClass]='modalService.visible'>
    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'modales.votar.titulo' | translate }}</h5>
                    <button (click)="cerrarModal(form)" type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <form #form="ngForm" (ngSubmit)="crearVotacion()">
                    <div class="modal-body">
                        <ngb-rating class="puntuacion" [(rate)]="puntuacion" [max]="5" [starTemplate]="t"></ngb-rating>
                        <ng-template #t let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                    </div>
                    <div class="modal-footer">
                        <button *ngIf="puntuacion" type="submit" class="btn btn-info">{{ 'modales.botones.votar' | translate }}</button>
                        <button (click)="cerrarModal(form)" type="button" class="btn btn-secondary">{{ 'modales.botones.cerrar' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>