<app-loading-component [cargando]="cargando"></app-loading-component>
<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 *ngIf="!modificando">{{ 'recetas.crear.titulo' | translate }}</h2>
                <h2 *ngIf="modificando">{{ 'recetas.crear.tituloMod' | translate }}</h2>
                <form ngNativeValidate [formGroup]="form" class="form p-t-20" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-lg-8 col-sm-12">
                            <div class="form-group">
                                <label>{{ 'recetas.crear.nombre' | translate }}</label>
                                <div class="input-group">
                                    <input formControlName="nombre" [class.is-invalid]="nombreNoValido()" type="text" name="nombre" class="form-control" autocomplete="off" [placeholder]="'recetas.crear.nombrePh' | translate">
                                </div>
                                <small *ngIf="nombreNoValido()" class="form-text text-danger">El nombre es obligatorio</small>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>{{ 'recetas.crear.descripcion' | translate }}</label>
                                <div class="input-group">
                                    <textarea formControlName="descripcion" [class.is-invalid]="descripcionNoValida()" name="descripcion" class="form-control" rows="3" [placeholder]="'recetas.crear.descripcionPh' | translate"></textarea>
                                </div>
                                <small *ngIf="descripcionNoValida()" class="form-text text-danger">La descripcion es obligatoria</small>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>{{ 'recetas.crear.tipo' | translate }}</label>
                                <div class="input-group">
                                    <select class="form-control" formControlName="tipoRe">
                                        <option *ngFor="let ud of opt.tipo" [value]="ud.nombre">{{ ud.nombre }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                                <h4>{{ 'recetas.crear.imagen' | translate }}<span class="text-warning" *ngIf="imgTemp">{{ 'recetas.crear.imagenP' | translate }}</span></h4>
                                <img *ngIf="!imgTemp" src="/assets/images/no-img.jpg" class="img-profile">
                                <img *ngIf="imgTemp" [src]="imgTemp" class="img-profile">
                                <br>
                                <br>
                                <input (change)="chooseImage($event.target.files[0])" type="file">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>{{ 'recetas.crear.ingredientes' | translate }}</label>
                        <div style="overflow-x:auto;">
                            <table class="table table-primary">
                                <thead>
                                    <tr>
                                        <th>{{ 'comun.tabla.numero' | translate }}</th>
                                        <th>{{ 'comun.tabla.ing' | translate }}</th>
                                        <th>{{ 'comun.tabla.cantidad' | translate }}</th>
                                        <th>{{ 'comun.tabla.unidades' | translate }}</th>
                                        <th>{{ 'comun.tabla.tipo' | translate }}</th>
                                        <th class="text-nowrap">{{ 'comun.tabla.acciones' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="ingredientes">
                                    <tr *ngFor="let ingrediente of ingredientes().controls; let i=index" [formGroupName]="i">
                                        <td>{{ i + 1 }}</td>
                                        <td class="long-td">
                                            <input (keyup)="filtrar(ingrediente)" class="form-control" [matAutocomplete]="auto" [class.is-invalid]="ingredienteNoValido(ingrediente)" type="text" formControlName="nombre" [placeholder]="'recetas.crear.ingredientePh' | translate">
                                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="resetFilter()">
                                                <mat-option *ngFor="let ing of ingsFiltrados" [value]="ing">
                                                    {{ ing }}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <small *ngIf="ingredienteNoValido(ingrediente)" class="form-text text-danger">El nombre es obligatorio</small>
                                        </td>
                                        <td>
                                            <input #cantidad class="form-control" type="number" formControlName="cantidad" (click)="cantidad.select()" (load)="onChange(ingrediente, cantidad)" [placeholder]="'recetas.crear.cantidad' | translate">
                                        </td>
                                        <td class="long-td">
                                            <select class="form-control" (change)="onChange(ingrediente, cantidad, i)" formControlName="unidades">
                                                <optgroup *ngFor="let group of opt.uds" [label]="group.label">
                                                    <option *ngFor="let opt of group.opciones" [value]="opt.nombre">{{ opt.nombre }}</option>
                                            </select>
                                        </td>
                                        <td class="medium-td">
                                            <select class="form-control" formControlName="tipo" [matTooltip]="'recetas.crear.tipoTooltip' | translate">
                                                <option *ngFor="let tipo of opt.tipoUnidades" [value]="tipo.nombre">{{ tipo.nombre }}</option>
                                            </select>
                                        </td>
                                        <td class="text-nowrap">
                                            <button class="btn btn-danger waves-effect waves-light m-r-10" (click)="eliminarIngrediente(i)">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn btn-info waves-effect waves-light m-r-10" (click)="addIngrediente()">{{ 'recetas.crear.botonIng' | translate }}</button>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>{{ 'recetas.crear.pasos' | translate }}</label>
                        <div style="overflow-x:auto;">
                            <table class="table table-primary">
                                <thead>
                                    <tr>
                                        <th>Numero</th>
                                        <th>Información del paso</th>
                                        <th class="text-nowrap">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="pasos">
                                    <tr *ngFor="let paso of pasos().controls; let i=index">
                                        <td>{{ i + 1 }}</td>
                                        <td class="long-td">
                                            <input class="form-control" type="text" [class.is-invalid]="pasoNoValido(paso)" [formControlName]="i" ngValue [placeholder]="'recetas.crear.pasosPh' | translate">
                                            <small *ngIf="pasoNoValido(paso)" class="form-text text-danger">El nombre es obligatorio</small>
                                        </td>
                                        <td class="text-nowrap">
                                            <button class="btn btn-danger waves-effect waves-light m-r-10" (click)="eliminarPaso(i)">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn btn-info waves-effect waves-light m-r-10" (click)="addPaso()">{{ 'recetas.crear.botonPaso' | translate }}</button>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <label>{{ 'recetas.crear.dificultad' | translate }}</label>
                                <select class="form-control" formControlName="nivel">
                                    <option *ngFor="let dif of opt.dificultades" [value]="dif.nombre">{{ dif.nombre }}</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-sm-0"></div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group" formGroupName="calorias">
                                    <div class="row">
                                        <div class="col-6">
                                            <label>{{ 'recetas.crear.calorias' | translate }}</label>
                                            <div class="input-group">
                                                <input formControlName="cantidad" type="number" name="cantidad" class="form-control" autocomplete="off" [placeholder]="'recetas.crear.caloriasPh' | translate">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label>{{ 'recetas.crear.unidades' | translate }}</label>
                                            <select class="form-control" formControlName="unidades">
                                                <option *ngFor="let ud of opt.nutricion" [value]="ud.nombre">{{ ud.nombre }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button *ngIf="!modificando" type="submit" class="btn btn-info waves-effect waves-light m-r-10">{{ 'recetas.crear.botonCrear' | translate }}</button>
                    <button *ngIf="modificando" type="submit" class="btn btn-info waves-effect waves-light m-r-10">{{ 'recetas.crear.botonMod' | translate }}</button>
                </form>
            </div>
        </div>
    </div>
</div>