<div class="row">
    <div class="col-12">
        <div class="card">
            <form ngNativeValidate [formGroup]="form" class="form p-t-20" (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <h2>Añadir ingredientes sustituibles</h2>
                    <br>
                    <div class="form-group" formArrayName="ingredientes">
                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let ing of ingredients; let i = index" [disabled]="ing.ingredienteSustituible || ing.tipo == 'Principal'">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <b>{{ ing.nombre }}</b>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span *ngIf="ing.tipo == 'Principal'" class="text-warning">Solo se pueden añadir ingredientes sustituibles a ingredientes secundarios</span>
                                        <span *ngIf="ing.tipo != 'Principal' && ing.ingredienteSustituible" class="text-danger">Ya existe un ingrediente sustituible</span>
                                        <span *ngIf="ing.tipo != 'Principal' && !ing.ingredienteSustituible">Añadir un ingrediente de sustitución</span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div #inputGroup class="form-group">
                                    <label for="input">Nombre del ingrediente sustituible</label>
                                    <div class="input-group">
                                        <input [formControlName]="i" class="form-control" [class.is-invalid]="ingredienteInvalido(i)" type="text">
                                    </div>
                                    <small *ngIf="ingredienteInvalido(i)" class="text-danger">El nombre ha de tener más de 3 letras</small>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>


                </div>
                <div class="card-footer">
                    <button class="btn btn-info" type="submit"><i class="fa fa-save"></i> Guardar ingredientes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--
<pre>
estado: {{ form.valid }}
<br>
{{ form.value | json }}
</pre>
-->