<app-loading-component [cargando]="cargando">
</app-loading-component>
<div class="row " *ngIf="!cargando && !hasNull(recetas)">
    <div class="col-12 ">
        <div class="card ">
            <div class="card-body planning-body" style="overflow-x:auto; ">
                <h3>{{ 'dietas.planificar.titulo' | translate }}</h3>
                <table class="table table-planning">
                    <thead>
                        <tr>
                            <th></th>
                            <th *ngFor="let dia of data.dias">{{ dia | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comida of data.nombresComidas; let i = index">
                            <td>
                                <label [class]="data.label(comida)">{{ comida | translate }}</label>
                            </td>
                            <td *ngFor="let receta of data.dias; let j = index">
                                <img (click)="verReceta(i, j)" [src]='this.recetas[(i * 7) + j].imagen | image: "receta"' class="img-rounded pointer border border-primary">
                                <!--<button *ngIf="receta" class="btn btn-danger" (click)="verReceta(i, j)">Ver receta</button>-->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>{{ 'dietas.planificar.kcal' | translate }}</b>
                            </td>
                            <td *ngFor="let receta of data.dias; let k = index">
                                &nbsp; {{ totalCalorias(k) }} Kcal
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row " *ngIf="!cargando && hasNull(recetas)">
    <div class="col-12">
        <div class="alert alert-danger text-center">
            <strong>{{ 'dietas.incompletoTitulo' | translate }}</strong>
            <br>
            <i class="fa fa-exclamation-circle fa-2x"></i>
            <br>
            <p>
                <span>{{ 'dietas.incompleto1' | translate }}</span> <br>
                <span>{{ 'dietas.incompleto2' | translate }}</span>
            </p>

        </div>
    </div>
</div>