<app-loading-component [cargando]="cargando">
</app-loading-component>
<div class="row " *ngIf="!cargando">
    <div class="col-12 ">
        <div class="card ">
            <div class="card-body " style="overflow-x:auto; ">
                <h3>Asignar recetas</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th *ngFor="let dia of data.dias">{{ dia }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comida of data.nombresComidas; let i = index">
                            <td>
                                <label [class]="data.label(comida)">{{ comida }}</label>
                            </td>
                            <td *ngFor="let receta of data.dias; let j = index">
                                <img (click)="verReceta(i, j)" [src]="obtenerImagen(i, j)" class="img-rounded img-fluid pointer border border-primary">
                                <!--<button *ngIf="receta" class="btn btn-danger" (click)="verReceta(i, j)">Ver receta</button>-->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Kilocalorias semanales</b>
                            </td>
                            <td *ngFor="let receta of data.dias; let k = index">
                                &nbsp; {{ totalCalorias(k) }} Kcal
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>