<div class="row ">
    <div class="col-12 ">
        <div class="card ">
            <div class="card-body " style="overflow-x:auto; ">
                <h3 class="card-title ">{{ 'intolerancias.misIntolerancias.titulo' | translate }}<small>{{ user }}</small></h3>
                <app-loading-component [cargando]="cargando">
                </app-loading-component>
                <app-no-found-component [cargando]="cargando" [array]="intolerancias"></app-no-found-component>
                <table class="table table-hover incidencias" *ngIf="!cargando && intolerancias.length > 0">
                    <thead>
                        <tr>
                            <th>{{ 'comun.tabla.nombre' | translate }}</th>
                            <th *ngIf="userService.esAdmin()">{{ 'comun.tabla.etiquetas' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let int of intolerancias; let i = index">
                            <td (click)="mostrarIntolerancia(int)">
                                <span> {{ int.nombre }} </span>
                            </td>
                            <td class="text-nowrap small-td">
                                <button (click)="borrarFavIntolerancia(int)" class="btn btn-danger" matTooltip="Modificar intolerancia"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button [disabled]="(from - limit) >= total || (from - limit) < 0" (click)="cambiarDesde(-limit)" class="btn btn-secondary">{{ 'comun.botones.anterior' | translate }}</button> &nbsp;
                <button [disabled]="(from + limit) >= total || (from + limit) < 0" (click)="cambiarDesde(limit)" class="btn btn-secondary">{{ 'comun.botones.siguiente' | translate }}</button>
            </div>
        </div>
    </div>
</div>