<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" routerLinkActive="active">
                <li> <a class="waves-effect waves-dark" [routerLink]="[ '/' ]"><i class="mdi mdi-home"></i><span class="hide-menu">Inicio </span></a>
                </li>
                <li class="nav-devider"></li>
                <li><a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="mdi mdi-heart-half-outline"></i><span class="hide-menu">Dieta </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="[ '/' ]">Planificación de dieta</a></li>
                        <li><a [routerLink]="[ '/' ]">Seguimiento de dieta</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="mdi mdi-food"></i><span class="hide-menu">Alimentos </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a class="has-arrow waves-effect waves-dark" aria-expanded="false">Recetas</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a [routerLink]="[ '/recipes' ]">Lista de recetas</a></li>
                                <li><a [routerLink]="[ '/' ]">Añadir receta</a></li>
                                <li><a [routerLink]="[ '/' ]">Modificar receta</a></li>
                                <li><a [routerLink]="[ '/' ]">Borrar receta</a></li>
                            </ul>
                        </li>
                        <li><a class="has-arrow waves-effect waves-dark" aria-expanded="false">Ingredientes</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a [routerLink]="[ '/' ]">Lista de ingredientes</a></li>
                                <li><a [routerLink]="[ '/' ]">Añadir ingrediente</a></li>
                                <li><a [routerLink]="[ '/' ]">Modificar ingrediente</a></li>
                                <li><a [routerLink]="[ '/' ]">Borrar ingrediente</a></li>
                            </ul>
                        </li>
                        <li><a class="has-arrow waves-effect waves-dark" aria-expanded="false">Intolerancias</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a [routerLink]="[ '/' ]">Lista de intolerancias</a></li>
                                <li><a [routerLink]="[ '/' ]">Añadir intolerancia</a></li>
                                <li><a [routerLink]="[ '/' ]">Modificar intolerancia</a></li>
                                <li><a [routerLink]="[ '/' ]">Borrar intolerancia</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="mdi mdi-account-circle"></i><span class="hide-menu">Usuarios </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="[ '/' ]">Lista de usuarios</a></li>
                        <li><a [routerLink]="[ '/' ]">Añadir usuario</a></li>
                        <li><a [routerLink]="[ '/' ]">Modificar usuario</a></li>
                        <li><a [routerLink]="[ '/' ]">Borrar usuario</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>