<div *ngIf="!dieta">
    <h3>Solicitar dieta</h3>
    <p>Antes de solicitar una dieta, asegurese de añadir <a routerLinkActive [routerLink]="['/intolerances']" type="button">intolerancias</a> y <a routerLinkActive [routerLink]="['/recipes']" type="button">recetas</a> favoritas a su perfil</p>
    <p class="text text-muted">De esta forma será más facil realizar su dieta</p>
    <button (click)="solicitarDieta()" type="button" class="btn btn-info">Solicitar dieta</button>
</div>
<div *ngIf="dieta">
    <h3>Dieta solicitada</h3>
    <p>Espere a que un experto realice el planning de su dieta</p>
</div>