<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <mat-form-field class="input-group mb-3">
                    <mat-label>{{ 'etiquetas.buscador' | translate }}</mat-label>
                    <input matInput #input type="text" (keyup.enter)="buscarEtiquetas(input.value)" autocomplete="off">
                    <button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''; buscarEtiquetas('')">
                              <mat-icon>close</mat-icon>
                            </button>
                    <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="buscarEtiquetas(input.value)">
                              <mat-icon>search</mat-icon>
                            </button>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<app-loading-component [cargando]="cargando"></app-loading-component>
<app-no-found-component [cargando]="cargando" [array]="etiquetas"></app-no-found-component>
<div class="row " *ngIf="!cargando && etiquetas.length > 0">
    <div class="col-12 ">
        <div class="card ">
            <div class="card-body " style="overflow-x:auto; ">
                <h3 class="card-title ">{{ 'etiquetas.titulo' | translate }} (<small>{{ total }}</small>)&nbsp; <button (click)="mostrarModal()" matTooltip="Añadir usuario" type="button" class="btn btn-info btn-circle"><i class="fa fa-plus"></i> </button></h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{ 'comun.tabla.nombre' | translate }}</th>
                            <th *ngIf="userService.esAdmin()">{{ 'comun.tabla.etiquetas' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let et of etiquetas; let i = index">
                            <td>
                                <input *ngIf="et.modificando" class="form-control" type="text" [(ngModel)]="et.etiqueta.nombre">
                                <span *ngIf="!et.modificando"> {{ et.etiqueta.nombre }} </span>
                            </td>
                            <td *ngIf="userService.esAdmin()" class="text-nowrap small-td">
                                <button (click)="et.modificando = !et.modificando" class="btn btn-primary" matTooltip="Modificar etiqueta"><i class="fa fa-wrench"></i></button> &nbsp;
                                <button [disabled]="!et.modificando" (click)="actualizarEtiqueta(et.etiqueta)" class="btn btn-info" matTooltip="Guardar ingrediente"><i class="fa fa-save"></i></button> &nbsp;
                                <button class="btn btn-danger" (click)="borrarEtiqueta(et.etiqueta)" matTooltip="Borrar etiqueta"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button [disabled]="(from - limit) >= total || (from - limit) < 0" (click)="cambiarDesde(-limit)" class="btn btn-secondary">{{ 'comun.botones.anterior' | translate }}</button> &nbsp;
                <button [disabled]="(from + limit) >= total || (from + limit) < 0" (click)="cambiarDesde(limit)" class="btn btn-secondary">{{ 'comun.botones.siguiente' | translate }}</button>
            </div>
        </div>
    </div>
</div>
<app-modal-tags (created)="cargarEtiquetas()"></app-modal-tags>