<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Blank Page</h3>
    </div>
</div>
<div class="card-deck">
    <div class="col col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/recipes/1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Receta</h5>
                <p class="card-text">Descripcion de la receta</p>
                <a href="#" class="btn btn-primary">Información</a>
            </div>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/recipes/1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Receta</h5>
                <p class="card-text">Descripcion de la receta</p>
                <a href="#" class="btn btn-primary">Información</a>
            </div>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/recipes/1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Receta</h5>
                <p class="card-text">Descripcion de la receta</p>
                <a href="#" class="btn btn-primary">Información</a>
            </div>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/recipes/1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Receta</h5>
                <p class="card-text">Descripcion de la receta</p>
                <a href="#" class="btn btn-primary">Información</a>
            </div>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/recipes/1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Receta</h5>
                <p class="card-text">Descripcion de la receta</p>
                <a href="#" class="btn btn-primary">Información</a>
            </div>
        </div>
    </div>
</div>