<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" (click)="ir('diet/soliciting')">
            <img class="pointer" src="../../../assets/images/main/main1.jpg" alt="First slide" style="width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h5>Dietas</h5>
                <p>Solicita una dieta de acuerdo a tus recetas e intolerancias</p>
            </div>
        </div>
        <div class="carousel-item" (click)="ir('search')">
            <img class="pointer" src="../../../assets/images/main/main2.jpg" alt="Second slide" style="width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h5>Descubre</h5>
                <p>Introduce el nombre de un ingrediente y descubre que recetas lo contienen</p>
            </div>
        </div>
        <div class="carousel-item" (click)="ir('recipes')">
            <img class="pointer" src="../../../assets/images/main/main3.jpg" alt="Second slide" style="width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h5>Recetas</h5>
                <p>Mira nuestras recetas y como se hacen</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>