<div class="col-12">
    <mat-card class="pointer">
        <mat-card-header (click)="verReceta()">
            <mat-card-title>{{ receta.nombre }}</mat-card-title>
            <mat-card-subtitle>
                <label *ngIf="receta.nivel == 'Facil'" class="label label-success">Facil</label>
                <label *ngIf="receta.nivel == 'Medio'" class="label label-warning">Medio</label>
                <label *ngIf="receta.nivel == 'Dificil'" class="label label-danger">Dificil</label>
            </mat-card-subtitle>
        </mat-card-header>
        <img (click)="verReceta()" mat-card-image class="card-img-top" [src]='receta.imagen | image: "receta"' alt="Card image">
        <mat-card-actions align="end" *ngIf="userService.esUser() && noFavorite()">
            <button mat-icon-button color="warn" aria-label="Añadir a favoritos" (click)="favorito(receta)">
                <mat-icon>favorite</mat-icon>
            </button>
        </mat-card-actions>
        <mat-card-actions align="end" *ngIf="userService.esAdmin()">
            <button mat-icon-button aria-label="Opciones" [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="actualizarReceta(receta)">
                    <mat-icon>edit</mat-icon>
                    <span>Editar receta</span>
                </button>
                <button mat-menu-item (click)="borrarReceta(receta)" style="color: red;">
                    <mat-icon style="color: red;">delete</mat-icon>
                    <span>Borrar receta</span>
                </button>
            </mat-menu>
        </mat-card-actions>
    </mat-card>
</div>