<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2>Perfil de usuario</h2>
                <form ngNativeValidate [formGroup]="form" class="form p-t-20" (ngSubmit)="modificar()">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input formControlName="nombre" type="text" name="nombre" class="form-control" id="exampleInputuname" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input formControlName="email" type="email" name="email" [disabled]="usuario.google" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                    </div>
                    <div *ngIf="modificando">
                        <button (click)="(modificando = !modificando); swapForm()" class="btn btn-success waves-effect waves-light m-r-10">Modificar</button>
                    </div>
                    <div *ngIf="!modificando">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Aceptar</button>
                        <button (click)="(modificando = !modificando); swapForm()" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fotografia</h4>
                <h6 class="card-subtitle">Nombre de usuario: {{ usuario.nombre }} </h6>
                <img src="">
                <input type="file">
                <br>
                <br>
                <button type="button" class="btn btn-success waves-effect waves-light m-r-10">Actualizar imagen</button>
            </div>
        </div>
    </div>
</div>