<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h2>{{ 'usuarios.usuario.titulo' | translate }}</h2>
                <form ngNativeValidate [formGroup]="form" class="form p-t-20" (ngSubmit)="modificar()">
                    <div class="form-group">
                        <label for="name">{{ 'usuarios.usuario.nombre' | translate }}</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input #name formControlName="nombre" type="text" name="nombre" [class.is-invalid]="nombreNoValido()" class="form-control" [placeholder]="'usuarios.usuario.nombrePh' | translate">
                        </div>
                        <small *ngIf="nombreNoValido()" class="form-text text-danger">{{ 'usuarios.usuario.nombreErr' | translate }}</small>
                    </div>
                    <div class="form-group">
                        <label for="email">{{ 'usuarios.usuario.email' | translate }}</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input #email formControlName="email" type="email" name="email" [class.is-invalid]="emailNoValido()" [disabled]="usuario.google" class="form-control" [placeholder]="'usuarios.usuario.emailPh' | translate">
                        </div>
                        <small *ngIf="emailNoValido()" class="form-text text-danger">{{ 'usuarios.usuario.emailErr' | translate }}</small>
                    </div>
                    <div *ngIf="usuario.rol === 'USER'">
                        <h3>{{ 'usuarios.usuario.datos' | translate }}</h3>
                        <span class="text text-warning">{{ 'usuarios.usuario.necesarios' | translate }}</span>
                        <br><br>
                        <div class="form-group">
                            <label>{{ 'usuarios.usuario.sexo' | translate }}</label>
                            <select class="form-control" formControlName="sexo" name="sexo">
                                <option value="H">{{ 'usuarios.usuario.sexo1' | translate }}</option>
                                <option value="M">{{ 'usuarios.usuario.sexo2' | translate }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="edad">{{ 'usuarios.usuario.edad' | translate }}</label>
                            <div class="input-group">
                                <input #edad formControlName="edad" type="number" name="edad" [class.is-invalid]="edadNoValido()" class="form-control" [placeholder]="'usuarios.usuario.edadPh' | translate">
                            </div>
                            <small *ngIf="edadNoValido()" class="form-text text-danger">{{ 'usuarios.usuario.edadErr' | translate }}</small>
                        </div>
                        <div class="form-group">
                            <label for="altura">{{ 'usuarios.usuario.altura' | translate }}</label>
                            <div class="input-group">
                                <input #altura formControlName="altura" type="number" name="altura" [class.is-invalid]="alturaNoValido()" step="0.01" class="form-control" [placeholder]="'usuarios.usuario.alturaPh' | translate">
                            </div>
                            <small *ngIf="alturaNoValido()" class="form-text text-danger">{{ 'usuarios.usuario.alturaErr' | translate }}</small>
                        </div>
                        <div class="form-group">
                            <label for="peso">{{ 'usuarios.usuario.peso' | translate }}</label>
                            <div class="input-group">
                                <input #peso formControlName="peso" type="number" name="peso" [class.is-invalid]="pesoNoValido()" step="any" class="form-control" [placeholder]="'usuarios.usuario.pesoPh' | translate">
                            </div>
                            <small *ngIf="pesoNoValido()" class="form-text text-danger">{{ 'usuarios.usuario.pesoErr' | translate }}</small>
                        </div>
                        <div class="form-group">
                            <label>{{ 'usuarios.usuario.ejercicio' | translate }}</label>
                            <select class="form-control" formControlName="ejercicio" name="ejercicio">
                                <option [ngValue]="1.2">{{ 'usuarios.usuario.ejercicio1' | translate }}</option>
                                <option [ngValue]="1.375">{{ 'usuarios.usuario.ejercicio2' | translate }}</option>
                                <option [ngValue]="1.55">{{ 'usuarios.usuario.ejercicio3' | translate }}</option>
                                <option [ngValue]="1.72">{{ 'usuarios.usuario.ejercicio4' | translate }}</option>
                                <option [ngValue]="1.9">{{ 'usuarios.usuario.ejercicio5' | translate }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="observaciones">{{ 'usuarios.usuario.observaciones' | translate }} <span class="text text-warning"> {{ 'usuarios.usuario.opcional' | translate }} </span></label>
                            <div class="input-group">
                                <input #observaciones formControlName="observaciones" type="text" name="observaciones" class="form-control" [placeholder]="'usuarios.usuario.observacionesPh' | translate">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!modificando">
                        <button (click)="(modificando = !modificando); swapForm()" class="btn btn-info waves-effect waves-light">{{ 'usuarios.usuario.botonMod' | translate }}</button>
                    </div>
                    <div *ngIf="modificando">
                        <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">{{ 'usuarios.usuario.botonAceptar' | translate }}</button>
                        <button (click)="(modificando = !modificando); swapForm()" class="btn btn-inverse waves-effect waves-light">{{ 'usuarios.usuario.botonCancelar' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ 'usuarios.usuario.imagen' | translate }}</h4>
                <img *ngIf="!imgTemp" [src]="usuario.imagen | image" class="img-profile">
                <h6 *ngIf="imgTemp">{{ 'usuarios.usuario.previa' | translate }}</h6>
                <img *ngIf="imgTemp" [src]="imgTemp" class="img-profile">
                <br>
                <br>
                <!-- Con el event seleccionamos la imagen cuando cambia el input -->
                <input (change)="chooseImage($event.target.files[0])" type="file">
                <br>
                <br>
                <button (click)="changeImage()" [disabled]="!imgUpload" type="button" class="btn btn-info">{{ 'usuarios.usuario.botonAct' | translate }}</button>
            </div>
        </div>
    </div>
</div>