<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <mat-form-field class="input-group mb-3">
                    <mat-label>{{ 'modales.intolerancias.buscador' | translate }}</mat-label>
                    <input matInput #input type="text" (keyup.enter)="buscarIntolerancias(input.value)" autocomplete="off">
                    <button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''; buscarIntolerancias('')">
                          <mat-icon>close</mat-icon>
                        </button>
                    <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="buscarIntolerancias(input.value)">
                          <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <app-show-filters [showIntolerancias]=false [showEtiquetas]=true [showTipos]=false (filtros)=cambiarFiltros($event)></app-show-filters>
                <app-search-tag *ngIf="filtros.etiquetas" (etiquetas)="cargarFiltroEtiquetas($event)" [tagsInput]="etiquetas"></app-search-tag>
            </div>
        </div>
    </div>
</div>
<app-loading-component [cargando]="cargando"></app-loading-component>
<app-no-found-component [cargando]="cargando" [array]="intolerancias"></app-no-found-component>
<div class="row " *ngIf="!cargando && intolerancias.length > 0">
    <div class="col-12 ">
        <div class="card ">
            <div class="card-body " style="overflow-x:auto; ">
                <h3 class="card-title ">{{ 'modales.intolerancias.titulo' | translate }} (<small>{{ total }}</small>)</h3>
                <table class="table table-hover incidencias">
                    <thead>
                        <tr>
                            <th>{{ 'comun.tabla.nombre' | translate }}</th>
                            <th *ngIf="userService.esAdmin()">{{ 'comun.tabla.etiquetas' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let int of intolerancias; let i = index">
                            <td (click)="mostrarIntolerancia(int)">
                                <span> {{ int.nombre }} </span>
                            </td>
                            <td *ngIf="userService.esUser() && noFavorite(int)" class="text-nowrap small-td">
                                <button (click)="addIntolerancia(int)" class="btn btn-primary" matTooltip="Modificar intolerancia"><i class="fa fa-plus-circle"></i></button>
                            </td>
                            <td *ngIf="userService.esAdmin()" class="text-nowrap small-td">
                                <button (click)="actualizarIntolerancia(int)" class="btn btn-primary" matTooltip="Modificar intolerancia"><i class="fa fa-wrench"></i></button> &nbsp;
                                <button class="btn btn-danger" (click)="borrarIntolerancia(int)" matTooltip="Borrar intolerancia"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button [disabled]="(from - limit) >= total || (from - limit) < 0" (click)="cambiarDesde(-limit)" class="btn btn-secondary">{{ 'comun.botones.anterior' | translate }}</button> &nbsp;
                <button [disabled]="(from + limit) >= total || (from + limit) < 0" (click)="cambiarDesde(limit)" class="btn btn-secondary">{{ 'comun.botones.siguiente' | translate }}</button>
            </div>
        </div>
    </div>
</div>