<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <mat-form-field class="input-group mb-3">
                    <mat-label>Buscar intolerancias</mat-label>
                    <input matInput #input type="text" (keyup.enter)="buscarIntolerancias(input.value)" autocomplete="off">
                    <button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''; buscarIntolerancias('')">
                          <mat-icon>close</mat-icon>
                        </button>
                    <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="buscarIntolerancias(input.value)">
                          <mat-icon>search</mat-icon>
                        </button>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn " *ngIf="cargando ">
    <div class="col-12 ">
        <div class="alert alert-warning text-center ">
            <strong> CARGANDO </strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x "></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>
<div class="row " *ngIf="!cargando && intolerancias.length > 0">
    <div class="col-12 ">
        <div class="card ">
            <div class="card-body " style="overflow-x:auto; ">
                <h3 class="card-title ">Intolerancias registradas (<small>{{ total }}</small>)</h3>
                <table class="table table-hover incidencias">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Etiquetas</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let int of intolerancias; let i = index">
                            <td style="width: 100%;" (click)="mostrarIntolerancia(int)">
                                <span> {{ int.nombre }} </span>
                            </td>
                            <td *ngIf="userService.esAdmin()" class="text-nowrap small-td">
                                <button (click)="actualizarIntolerancia(int)" class="btn btn-primary" matTooltip="Modificar intolerancia"><i class="fa fa-wrench"></i></button> &nbsp;
                                <button class="btn btn-danger" (click)="borrarIntolerancia(int)" matTooltip="Borrar intolerancia"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button [disabled]="(from - limit) >= total || (from - limit) < 0" (click)="cambiarDesde(-limit)" class="btn btn-secondary">Anteriores</button> &nbsp;
                <button [disabled]="(from + limit) >= total || (from + limit) < 0" (click)="cambiarDesde(limit)" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>

<div class="row " *ngIf="!cargando && intolerancias.length == 0">
    <div class="col-12 ">
        <div class="alert alert-warning text-center ">
            <strong> No se han encontrado resultados </strong>
            <br>
            <i class="fa fa-question-circle"></i>
        </div>
    </div>
</div>