<div class="row">
    <div class="col" *ngIf="showIntolerancias">
        <label for="intsw">Filtro de intolerancias</label>
        <div #intsw class="switch">
            <label>
                <input type="checkbox" [checked]="intolerancias" (change)="intolerancias = !intolerancias; emit()"><span class="lever switch-col-green"></span>
            </label>
        </div>
    </div>
    <div class="col" *ngIf="showEtiquetas">
        <label for="etsw">Filtro de etiquetas</label>
        <div #etsw class="switch">
            <label>
                <input type="checkbox" [checked]="etiquetas" (change)="etiquetas = !etiquetas; emit()"><span class="lever switch-col-green"></span>
            </label>
        </div>
    </div>
    <div class="col" *ngIf="showTipos">
        <label for="etsw">Filtro de tipos</label>
        <div #etsw class="switch">
            <label>
                <input type="checkbox" [checked]="tipos" (change)="tipos = !tipos; emit()"><span class="lever switch-col-green"></span>
            </label>
        </div>
    </div>
</div>