<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <mat-form-field class="input-group mb-3">
                    <mat-label>Nombre de la receta</mat-label>
                    <input matInput #input type="text" (keyup.enter)="buscarRecetas(input.value, 0)" autocomplete="off">
                    <button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''; cargarRecetas(0)">
                      <mat-icon>close</mat-icon>
                    </button>
                    <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="buscarRecetas(input.value, 0)">
                      <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <app-show-filters [showIntolerancias]=true [showEtiquetas]=false (filtros)=cambiarFiltros($event)></app-show-filters>
                <app-search-intolerance *ngIf="filtros.intolerancias" (intolerancias)="cargarFiltroIntolerancias($event)"></app-search-intolerance>
                <app-search-tag *ngIf="filtros.etiquetas" (etiquetas)="cargarFiltroEtiquetas($event)" [tagsInput]="etiquetas"></app-search-tag>
            </div>
        </div>
    </div>
</div>
<app-loading-component [cargando]="cargando"></app-loading-component>
<app-no-found-component [cargando]="cargando" [array]="recetas"></app-no-found-component>
<div class="row" *ngIf="!cargando && recetas.length > 0">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <app-recipe-card class="col-sm-6 col-lg-4" (cargar)="cargarRecetas(0)" (recetaSeleccionada)=verReceta($event) [receta]=receta *ngFor="let receta of recetas"></app-recipe-card>
                </div>
            </div>
        </div>
    </div>
</div>
<ngb-pagination class="d-flex justify-content-center" (pageChange)="cambiarPag($event)" [pageSize]="tam" [collectionSize]="total" [(page)]="from" [boundaryLinks]="true"></ngb-pagination>