<div class="row page-titles">
    <h3 class="text-themecolor-title">Recetas</h3>
    <div class="input-group mb-3">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ordenar por</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Nombre</a>
            <a class="dropdown-item" href="#">Tipo</a>
        </div>
        <input type="text" class="form-control" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="mdi mdi-search-web"></i></button>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="col col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/recipes/1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Receta</h5>
                <p class="card-text">Descripcion de la receta</p>
                <a href="#" class="btn btn-primary">Información</a>
            </div>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/recipes/1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Receta</h5>
                <p class="card-text">Descripcion de la receta</p>
                <a href="#" class="btn btn-primary">Información</a>
            </div>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/recipes/1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Receta</h5>
                <p class="card-text">Descripcion de la receta</p>
                <a href="#" class="btn btn-primary">Información</a>
            </div>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/recipes/1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Receta</h5>
                <p class="card-text">Descripcion de la receta</p>
                <a href="#" class="btn btn-primary">Información</a>
            </div>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="card">
            <img class="card-img-top" src="assets/images/recipes/1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Receta</h5>
                <p class="card-text">Descripcion de la receta</p>
                <a href="#" class="btn btn-primary">Información</a>
            </div>
        </div>
    </div>
</div>